{% extends 'manager/base.html' %}

{% block title %}Lista de Equipes{% endblock %}

{% block content %}
<br><br>
<div class="row">
  <div class="col-lg-12">
    <a href="{% url 'manage_campeonato' pk=pk %}" class="btn btn-sm blue">
        <span class="fa fa-arrow-left"></span>
        Voltar ao dashboard
    </a>
    <div class="row justify-content-center mt-4">        
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header elegant-color-dark white-text">
            <h1 class="h1-responsive">Equipes</h1>
          </div>
          <div class="card-body">
            {% if equipes|length < champ.qtd_times %}
            <a href="{% url 'create_equipe' pk=pk %}" class="pull-left black-text mr-5 btn btn-blue btn-sm">
                Adicionar
                <span class="fa fa-plus fa-lg white-text"></span>
            </a>              
            {% endif %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>Equipe</th>
                        <th>Opções</th>
                    </thead>
                    <tbody>
                        {% for e in equipes %}
                        <tr>
                            <td>{{e}}</td>
                            <td>
                                <a href="{% url 'equipe_remove' c=e.campeonato pk=e.pk %}">
                                    <span class="fa fa-trash fa-lg red-text"></span>
                                </a>
                                &nbsp&nbsp
                                <a href="{% url 'equipe_edit' c=e.campeonato pk=e.pk %}">
                                    <span class="fa fa-pencil fa-lg"></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>    
{% endblock %}