{% extends 'manager/base.html' %}

{% block title %}Partidas{% endblock %}

{% block content %}
<br><br>
<div class="row">
  <div class="col-lg-12">
    <a href="{% url 'manage_campeonato' pk=pk %}" class="btn btn-sm blue">
        <span class="fa fa-arrow-left"></span>
        Voltar ao dashboard
    </a>
    <div class="row justify-content-center mt-4">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header elegant-color-dark white-text">
            <h1 class="h1-responsive">Partidas</h1>
          </div>
          <div class="card-body">
            <a href="{% url 'add_partida' pk=pk %}" class="pull-left black-text mr-5 btn btn-blue btn-sm">
                Adicionar
                <span class="fa fa-plus fa-lg white-text"></span>
            </a><br><br>                         
            {% if partidas %}
            <form method="get" class="form-inline">                
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="equipe" name="equipe" required>
                    <option value="">Selecione a equipe...</option>                                                                
                    {% for e in equipes %}
                    <option value="{{e.pk}}">{{e}}</option>
                    {% endfor %}                                    
                </select>
                <button type="submit" class="btn btn-elegant btn-sm">Filtrar</button>
            </form>                                                  
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Partida</th>
                            <th>Data</th>
                            <th>Hora</th>
                            <th>Opções</th>
                        </tr>                        
                    </thead>
                    <tbody>
                        {% for partida in partidas %}
                        <tr>
                            <td>{{partida}}</td>
                            <td>{{partida.data|date:"d/m"}}</td>
                            <td>{{partida.hora}}</td>
                            <td>
                                <a href="{% url 'partida_remove' pk=partida.pk%}">
                                    <span class="fa fa-trash fa-lg red-text"></span>
                                </a>
                                &nbsp&nbsp
                                {% if partida.finalizada == False %}
                                <a href="{% url 'partida_edit' pk=partida.pk %}">
                                    <span class="fa fa-pencil fa-lg"></span>
                                </a>
                                &nbsp&nbsp
                                <a href="{% url 'update_resultado' pk=partida.pk %}">
                                    <span class="fa fa-refresh fa-lg"></span>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p>Ainda não há partidas cadastradas =(</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>    
{% endblock %}