{% extends 'manager/base.html' %} {% block title %}Cadastrar Partida{% endblock %} {% block content %}
<br>
<br>
<div class="row" style="padding: 3%;">
    <div class="col-lg-12">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header elegant-color-dark white-text">
                        <h1 class="h1-responsive">
                            Cadastrar Partida
                        </h1>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <h4 class="h4-responsive text-center">Selecione os times</h4>
                            <br>
                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="mandante" name="mandante" required>
                                <option value="">Selecione o mandante...</option>                                                                
                                {% for e in equipes %}
                                <option value="{{e.pk}}">{{e}}</option>
                                {% endfor %}                                    
                            </select>                            
                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="visitante" name="visitante" required>
                                <option value="">Selecione o visitante...</option>                                
                                {% for e in equipes %}
                                <option value="{{e.pk}}">{{e}}</option>
                                {% endfor %}
                            </select>
                            
                            <hr>
                            <label><strong>Fase</strong></label>
                            <br>
                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="fase" name="fase" required>
                                <option value="">Selecione a fase...</option>
                                <option value="G">Fase de grupos</option>
                                <option value="O">Oitavas</option>
                                <option value="Q">Quartas</option>
                                <option value="S">Semifinais</option>
                                <option value="F">Final</option>                                
                            </select>                            
                            <hr>                            
                            <input type="hidden" name="campeonato" value="{{pk}}">
                            
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="data"><strong>Data da partida</strong></label>
                                        <input type="date" name="data" id="data" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="hora"><strong>Hora da partida</strong></label>
                                        <input type="text" name="hora" id="hora" placeholder="--:--" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button type="submit" class="btn btn-elegant text-center">Cadastrar</button>
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}