{% extends 'manager/base.html' %}

{% block title %}SGCE Admin - Gerenciar Campeonatos{% endblock %}

{% block content %}
<br><br>
<div class="row" style="padding: 3%;">
  <div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
              <div class="card-header elegant-color-dark white-text">
                <h1 class="h1-responsive">
                    Criar Post
                    <span class="fa fa-newspaper-o fa-lg pull-right"></span>
                </h1>
              </div>
              <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="md-form">
                    <label for="titulo">Titulo:</label>
                    <input class="form-control" type="text" id="titulo" name="titulo" required maxlength="30">
                  </div>

                  <div class="md-form">
                    <textarea id="summernote" name="conteudo"></textarea>
                    <script>
                      $('#summernote').summernote({
                        placeholder: 'Hello stand alone ui',
                        tabsize: 2,
                        height: 100
                      });
                    </script>
                  </div>
                  <label for="imagem">Imagem:</label>
                  <input type="file" id="imagem" name="imagem" required><br>

                  <button type="submit" class="btn btn-elegant">Criar</button>
                </form>
              </div>
            </div>
        </div>

    </div>
  </div>
</div>
{% endblock %}