{% extends 'app/base.html' %} {% load staticfiles %} {% block title %} Baixe nosso app {% endblock %} {% block content %}

<!-- Section: Features v.4 -->
<section>

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center">Baixando nosso aplicativo</h2>
    <!-- Section description -->
    <p class="text-center">
        <i class="fa fa-exclamation-triangle yellow-text fa-2x text-center"></i>
        <br>
        Por enquanto o aplicativo está disponível apenas para celulares Android <i class="ml-1 fa fa-android green-text fa-lg"></i>.
    </p>
    <p class="lead text-center w-responsive mx-auto">Antes de instalar o aplicativo, é necessário fazer algumas configurações em seu aparelho para poder instalá-lo.</p>
    <p class="lead text-center w-responsive mx-auto mb-5">Siga os passos abaixo antes de fazer o download.</p>

    <!-- Grid row -->
    <div class="row justify-content-center align-items-center">

        <!-- Grid column -->
        <div class="col-md-4">
            <!-- Grid row -->
            <div class="row justify-content-center mb-3">
                <!-- Grid column -->
                <div class="col-10">
                    <h5 class="font-weight-bold mb-3">
                        <i class="fa fa-check fa-lg blue-text"></i>
                        Primeiro passo
                    </h5>
                    <p>
                        No seu celular, abra as configurações e selecione Segurança.
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="{% static 'img/app/1.png' %}" alt="Sample image" style="height: 25em;">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <div class="row justify-content-center align-items-center mt-5">

        <!-- Grid column -->
        <div class="col-md-4">
            <!-- Grid row -->
            <div class="row justify-content-center mb-3">
                <!-- Grid column -->
                <div class="col-10">
                    <h5 class="font-weight-bold mb-3">
                        <i class="fa fa-check fa-lg blue-text"></i>
                        Segundo passo
                    </h5>
                    <p>
                        Dentro de "Segurança" ative a função "Fontes desconhecidas", conforme a imagem.
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="{% static 'img/app/2.png' %}" alt="Sample image" style="height: 25em;">
        </div>
        <!-- Grid column -->

    </div>

    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-10">
            <h5 class="h5 h5-responsive text-center">Agora você pode baixar o aplicativo clicando no botão abaixo:</h5>
            <div class="text-center">
                <a href="https://raw.githubusercontent.com/gabriel1lima/gabriel1lima.github.io/master/Campeonato%20Milagrense.apk" class="btn btn-blue text-center btn-lg">Download</a>
            </div>

        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-5">

        <!-- Grid column -->
        <div class="col-md-4">
            <!-- Grid row -->
            <div class="row justify-content-center mb-3">
                <!-- Grid column -->
                <div class="col-10">
                    <h5 class="font-weight-bold mb-3">
                        <i class="fa fa-check fa-lg blue-text"></i>
                        Terceiro passo
                    </h5>
                    <p>
                        Após feito o download, abra a barra de notificações e clique sobre o arquivo baixado, conforme a imagem.
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="{% static 'img/app/3.png' %}" alt="Sample image" style="height: 25em;">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

    </div>

    <div class="row justify-content-center align-items-center mt-5">

        <!-- Grid column -->
        <div class="col-md-4">
            <!-- Grid row -->
            <div class="row justify-content-center mb-3">
                <!-- Grid column -->
                <div class="col-10">
                    <h5 class="font-weight-bold mb-3">
                        <i class="fa fa-check fa-lg blue-text"></i>
                        Quarto passo
                    </h5>
                    <p>
                        Agora clique em "Instalar".
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="{% static 'img/app/4.png' %}" alt="Sample image" style="height: 25em;">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <div class="row justify-content-center align-items-center mt-5 mb-5">

        <!-- Grid column -->
        <div class="col-md-4">
            <!-- Grid row -->
            <div class="row justify-content-center mb-3">
                <!-- Grid column -->
                <div class="col-10">
                    <h5 class="font-weight-bold mb-3">
                        <i class="fa fa-check fa-lg blue-text"></i>
                        Quinto passo (Último)
                    </h5>
                    <p>
                        Agora é só clicar em abrir e sucesso! Agora você poderá acompanhar o campeonato pelo seu celular.
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 text-center">
            <img class="img-fluid" src="{% static 'img/app/5.png' %}" alt="Sample image" style="height: 25em;">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->

    </div>

</section>
<!-- Section: Features v.4 -->

{% endblock content %}