{% load staticfiles %}

<div class="row mt-4">
    <div class="col">
        <div class="text-center">
            <h1 class="h1-responsive text-center">Patrocinadores</h1>
            <hr>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-lg-12">
        <!-- Primeira linha -->
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/AcademiaFerreira.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/APEOC.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/ArtD.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/BalnearioCaldas.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/ClinicaIrismarGomes.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/CorrinhaConfeccoes.jpg'%}" alt="">
                </div>
            </div>
        </div>

        <!-- Segunda linha -->
        <div class="row mt-2">

            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/Donga.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/DrArthurCartaxo.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/EspacoDellas.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/Fabricell.png'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/Frigofrango.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/FrigorificoMaia.jpeg'%}" alt="">
                </div>
            </div>
        </div>

        <!-- Quarta linha -->
        <div class="row mt-2">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/GriffDoBolo.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/Jader.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/Japemil.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/MarconiConstrucoes.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/MendoncaSaraiva.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/MilagresRecargas.jpg'%}" alt="">
                </div>
            </div>
        </div>

        <!-- Quinta linha -->
        <div class="row mt-2">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/Odontolac.png'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/OpcaoMagazine.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/Planalte.png'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/PontoDoChurrasco.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/SantaCecilia.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/SantaHelena.jpg'%}" alt="">
                </div>
            </div>
        </div>

        <!-- Sexta linha -->
        <div class="row mt-2 justify-content-center">
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/SaoMateus.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/TapecariaIdeal.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/VereadorGiancles.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/VereadorIvan.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Quadrados/SampaiOdonto.jpeg'%}" alt="">
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-lg-2 col-md-2 col-sm-3 col-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/AutoescolaJR.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Centro.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Chap.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/MobilePlus.jpg'%}" alt="">
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/VereadorGeraldoNeto.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/VereadorUbelardo.jpg'%}" alt="">
                </div>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                <div class="card">
                    <img class="card-img-top" src="{% static 'patrocinios/Angelina.jpeg'%}" alt="">
                </div>
            </div>
            
        </div>
    </div>

</div>